web_services/ALaMXBPEL/src/localhost_9090/WSUsuario/WSUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="altaUsuario" type="tns:altaUsuario"/>

<xs:element name="altaUsuarioResponse" type="tns:altaUsuarioResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaUsuario">
<xs:sequence>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="calle" type="xs:string" minOccurs="0"/>
<xs:element name="num_ext" type="xs:int"/>
<xs:element name="num_in" type="xs:int"/>
<xs:element name="colonia" type="xs:string" minOccurs="0"/>
<xs:element name="municipio" type="xs:string" minOccurs="0"/>
<xs:element name="cp" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>